@using Microsoft.AspNetCore.Authorization;

@page "/mentor/create"

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService


<h3>Mentor Create</h3>

<MentorForm @ref="mentorForm" Mentor="Mentor" OnSubmit="Create" ReturnAction="Return" />

@code {
    public Mentor Mentor = new();
    public MentorForm mentorForm;

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/mentors", Mentor);
        if (responseHttp.Error)
        {
            var mensaje = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensaje);
            return;
        }
        navigationManager.NavigateTo("/mentors");

    }

    private void Return(){
        navigationManager.NavigateTo("/mentors");
    }
}