@using hackaton.shared.Entities

<h3>MentorForm</h3>

@inject IRepository repository

<EditForm Model="Mentor" OnSubmit="OnSubmit">

<DataAnnotationsValidator />

    <div class="mb-3">
        <label>Nombre mentor</label>
        <div>
            <InputText width="10" @bind-Value="Mentor.Name" />

        </div>

    </div>

<div class="mb-3">
        <label>Experiencia</label>
    <div>
            <InputText width="10" @bind-Value="Mentor.Experience" />
    </div>

</div>
    <button class="btn btn-primary" type="submit" >Guardar</button>
    <button class="btn btn-success" onclick="ReturnAction">Regresar</button>
</EditForm>



@code {

    [EditorRequired]
    [Parameter]
    public Mentor Mentor { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }


}
