@page "/evaluations"
@using hackaton.WEB.Repositories
@using hackaton.shared.Entities
@using hackaton.WEB.Shared

@inject IRepository repository
@inject SweetAlertService swal
@inject NavigationManager navigationManager

<h3>Evaluaciones</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/evaluations/create">Nueva evaluacion</a>
</div>

<GenericList MyList="Evaluations">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Mentor</th>
                    <th>Proyecto</th>
                    <th>Puntuación</th>
                    <th>Observacion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var evaluation in Evaluations!)
                {
                    <tr>
                        <td>@evaluation.Mentor.Name </td>
                        <td>@evaluation.Project.Name</td>
                        <td>@evaluation.Score</td>
                        <td>@evaluation.Remarks</td>
                        <td>
                            <a href="/evaluations/edit/@evaluation.Id" class="btn btn-warning btn-sm"><i class="oi oi-pencil" /> Editar</a>
                            <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(evaluation))><i class="oi oi-trash" /> Borrar</button>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </Body>
</GenericList>

@code {
    public List<Evaluation> Evaluations { get; set; }
    public List<Project> Projects { get; set; }
    public List<Mentor> Mentors { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.GetAsync<List<Evaluation>>("/api/evaluations");
        Evaluations = responseHppt.Response!;
    }

    private async Task DeleteAsync(Evaluation Evaluation)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.DeleteAsync($"api/evaluations/{Evaluation.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }
}

