@using Microsoft.AspNetCore.Authorization;

@page "/evaluations/create"

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService


<h3>Evaluacion</h3>

<EvaluationForm @ref="evaluationForm" Evaluation="Evaluation" OnSubmit="Create" ReturnAction="Return" />

@code {
    public Evaluation Evaluation = new();
    public EvaluationForm evaluationForm;

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/evaluations", Evaluation);
        if (responseHttp.Error)
        {
            var mensaje = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensaje);
            return;
        }
        navigationManager.NavigateTo("/evaluations");

    }

    private void Return(){
        navigationManager.NavigateTo("/evaluations");
    }
}