@using Microsoft.AspNetCore.Authorization;

@page "/hackatons/edit/{Id:int}"

@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal


<h3>Editar Hackaton</h3>

@if (Hackaton is null)
{
    <div class="align-items-center">
        <img src="https://i.gifer.com/2GU.gif" />
    </div>
}
else
{
    <HackatonForm @ref="hackatonForm" Hackaton="Hackaton" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    public Hackaton Hackaton = new();
    public HackatonForm hackatonForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.GetAsync<Hackaton>($"/api/hackatons/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("hackatons");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Hackaton = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.PutAsync("/api/hackatons", Hackaton);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
          
            navigationManager.NavigateTo("/hackatons");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/hackatons");
    }
}
