@using Microsoft.AspNetCore.Authorization;

@page "/projects/create"

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService


<h3>Mentor Proyecto</h3>

<ProjectForm @ref="projectForm" Project="Project" OnSubmit="Create" ReturnAction="Return" />

@code {
    public Project Project = new();
    public ProjectForm projectForm;

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/projects", Project);
        if (responseHttp.Error)
        {
            var mensaje = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensaje);
            return;
        }
        navigationManager.NavigateTo("/projects");

    }

    private void Return(){
        navigationManager.NavigateTo("/projects");
    }
}