@page "/rewards"
@using hackaton.WEB.Repositories
@using hackaton.shared.Entities
@using hackaton.WEB.Shared

@inject IRepository repository
@inject SweetAlertService swal
@inject NavigationManager navigationManager

<h3>Rewards</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/rewards/create">New reward</a>
</div>

<GenericList MyList="Rewards">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre hackaton</th>
                    <th>Premio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reward in Rewards!)
                {
                    <tr>
                        <td>@reward.Hackaton.Name </td>
                        <td>@reward.Description</td>
                        <td>
                            <a href="/rewards/edit/@reward.Id" class="btn btn-warning btn-sm"><i class="oi oi-pencil" /> Editar</a>
                            <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(reward))><i class="oi oi-trash" /> Borrar</button>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </Body>
</GenericList>

@code {
    public List<Reward> Rewards { get; set; }
    public List<Hackaton> Hackatons { get; set; }


    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.GetAsync<List<Reward>>("/api/rewards");
        Rewards = responseHppt.Response!;
    }

    private async Task DeleteAsync(Reward Reward)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.DeleteAsync($"api/rewards/{Reward.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }
}

