@using Microsoft.AspNetCore.Authorization;

@page "/participants/edit/{Id:int}"

@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal


<h3>Editar participantes</h3>

@if (Participant is null)
{
    <div class="align-items-center">
        <img src="https://i.gifer.com/2GU.gif" />
    </div>
}
else
{
    <ParticipantForm @ref="participantForm" Participant="Participant" OnSubmit="Edit" ReturnAction="Return" />

}

@code {
    public Participant Participant = new();
    public ParticipantForm participantForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.GetAsync<Participant>($"/api/participants/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("participants");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Participant = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.PutAsync("/api/participants", Participant);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            navigationManager.NavigateTo("/participants");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/participants");
    }
}
